@font-face {
    font-family: LogoFont;
    src: url(../Fonts/apayah-loe.regular.ttf);
}
@font-face{
    font-family:  BublleFont;
    src: url(../Fonts/Eracake.otf);  
}


*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body ::-webkit-scrollbar{
    display: none;
}
body{
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

main{
    flex: 1 1 0;
}

.sectionTitle{
    font-family: BublleFont;
    margin-top: 15%;
    flex: 100%;
    text-align: center;
    font-size: 40px;
}

/*========================================================================================================================================
Menu de navegação*/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 2;
    background-color: white;
}

/*Maneu de navegação - Links*/
.nav-links{
    text-align: right;
    flex: 80%;
}
.nav-links a{
    text-decoration: none;
    font-size: 25px;
}
.nav-links a:hover{
    text-decoration:underline 2px;
}

.nav-links-login{
    margin: 40px;
    background-color: #1780c3;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.nav-links-login:hover{
    background-color: #95cff1;
    padding: 15px;
}

/*Maneu de navegação - Logo*/
.nav-logo{
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    flex: 20%;
}
.nav-logo p{
    display: inline-block;
    font-family: LogoFont;
    color: #1780c3;
    margin-left: 20px;
}
@media screen and (max-width: 1000px){
    nav{
        padding-bottom: 10px;
    }
    .nav-links, .nav-logo{
        flex: 100%;
        text-align: center;
    }
    .nav-links a{
        margin: 10px;
        font-size: 15px;
    }
    .nav-links-login{
        padding: 5px;
    }
    .nav-links-login:hover{
        padding: 7px;
    }
    .nav-logo p{
        margin: 0;
        margin-top: 10px;
        font-size: 30px;
    }
}
/*========================================================================================================================================*/
/*========================================================================================================================================
Cabeçalho e título*/

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    height: 100vh;
}

/*Cabeçalho e título - Texto de título*/
.header-title{
    flex: 50%;
    text-align: center;
}
.header-title h1{
    font-family: BublleFont;
    font-size: 70px;
    width: 50%; margin-left: 25%;
    color: #1780c3;
    text-shadow: #2e2948 0px 10px 5px, #2e2948 0px 6px 6px;
}
.header-title p{
    color: gray;
    width: 60%; margin-left: 20%;
    font-size: 20px;
}
.header-title a{
    background-color: #1780c3;
    padding: 20px;
    font-size: 35px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1;
}
.header-title a:hover{
    padding: 25px;
    background-color: #95cff1;
    font-size: 40px;
}

/*Cabeçalho e título - Ilustração*/
.header-ilustration{
    flex: 50%;
}
.header-ilustration img{
    position: relative;
    width: 100%;
    z-index: 0;
}

@media screen and (max-width: 1000px){
    .header-title h1{
        font-size: 50px;
    }
    .header-ilustration, .header-title{
        flex: 100%;
    }
    .header-ilustration{
        margin-top: 20%;
    }
}
/*========================================================================================================================================*/
/*========================================================================================================================================
Seção 1: Cards*/

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    color: #242649;
}
.cards-cardIten{
    width: 500px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
    margin: 40px;
}
.cards-cardIten-NoHover img{
    margin-top: 5%;
    width: 90%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.cards-cardIten:hover .cards-cardIten-NoHover{
    display: none;
}
.cards-cardIten:hover .cards-cardIten-Hover{
    display: block;
}
.cards-cardIten-Hover{
    height: 400px;
    display: none;
}

.cards-cardIten-Hover p{
    font-size: 20px;
}
@media screen and (max-width: 780px){
    .cards-cardIten{
        flex: 100%;
    }
}

/*========================================================================================================================================*/
/*========================================================================================================================================
Rodapé*/
footer{
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#ed3773, #250521);
    text-align: center;
    border-top: #210d1f solid 7px;
}

footer h2{
    font-size: 50px;
    font-family: LogoFont;
    margin: 0;
    color: #1780c3;
    letter-spacing: 10px;
}

footer h3{
    color: white;
    font-size: 30px;
}
@media screen and (max-width: 780px){
    footer h2{
        font-size: 40px;
    }
    footer h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 780px){
    footer h2{
        font-size: 40px;
    }
    footer h3{
        font-size: 20px;
    }
}
/*========================================================================================================================================*/